<div>
  <h1>Add Actor</h1>
</div>

<form action="/create_actor">
  <!-- Label and input for dob -->
  <div>
    <label>
      Dob
    </label>
    <div>
      <input type="text" id="dob" name="dob" placeholder="Dob">
    </div>
  </div>

  <!-- Label and input for name -->
  <div>
    <label>
      Name
    </label>
    <div>
      <input type="text" id="name" name="name" placeholder="Name">
    </div>
  </div>

  <!-- Label and input for bio -->
  <div>
    <label>
      Bio
    </label>
    <div>
      <textarea id="bio" name="bio" placeholder="Bio" rows="3"></textarea>
    </div>
  </div>

  <!-- Label and input for image_url -->
  <div>
    <label>
      Image url
    </label>
    <div>
      <input type="text" id="image_url" name="image_url" placeholder="Image url">
    </div>
  </div>

  <div>
    <div>
      <input type="submit" value="Create Actor">
    </div>
  </div>
</form>
