<div>
  <h1>Add Movie</h1>
</div>

<form action="/create_movie">
  <!-- Label and input for title -->
  <div>
    <label>
      Title
    </label>
    <div>
      <input type="text" id="title" name="title" placeholder="Title">
    </div>
  </div>

  <!-- Label and input for year -->
  <div>
    <label>
      Year
    </label>
    <div>
      <input type="text" id="year" name="year" placeholder="Year">
    </div>
  </div>

  <!-- Label and input for duration -->
  <div>
    <label>
      Duration
    </label>
    <div>
      <input type="text" id="duration" name="duration" placeholder="Duration">
    </div>
  </div>

  <!-- Label and input for description -->
  <div>
    <label>
      Description
    </label>
    <div>
      <textarea id="description" name="description" placeholder="Description" rows="3"></textarea>
    </div>
  </div>

  <!-- Label and input for image_url -->
  <div>
    <label>
      Image url
    </label>
    <div>
      <input type="text" id="image_url" name="image_url" placeholder="Image url">
    </div>
  </div>


  <div>
    <div>
      <input type="submit" value="Create Movie">
    </div>
  </div>
</form>
